body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-51px;
  width:749px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u173_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:461px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u173 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:23px;
  width:461px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u173_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:461px;
  white-space:nowrap;
}
#u174_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:56px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u174 {
  border-width:0px;
  position:absolute;
  left:348px;
  top:121px;
  width:94px;
  height:56px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u174_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:90px;
  word-wrap:break-word;
}
#u175 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:205px;
  width:740px;
  height:616px;
}
#u175_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:740px;
  height:616px;
  overflow:hidden;
}
