body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-130px;
  width:700px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u169_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u169 {
  border-width:0px;
  position:absolute;
  left:443px;
  top:152px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u169_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u170_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:568px;
  height:88px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u170 {
  border-width:0px;
  position:absolute;
  left:188px;
  top:221px;
  width:568px;
  height:88px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u170_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:568px;
  word-wrap:break-word;
}
#u171 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:337px;
  width:700px;
  height:550px;
}
#u171_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:550px;
  overflow:hidden;
}
